.game
  position: relative
  z-index: 0
  width: 100%
  height: 100%

.game__wrap
  width: 100%
  height: 100%
  overflow: hidden
  background-image: url("/images/space1.jpg")
  background-position: center center

.ship
  position: absolute
  z-index: 4
  width: 100%
  height: 100%

.stage
  position: absolute
  z-index: 3
  width: 100%
  height: 100%